# Configurações do Prometheus
# Copie este arquivo para .env-prometheus e edite conforme necessário
# cp .env-prometheus.example .env-prometheus

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
