# Configurações do Grafana
# Copie este arquivo para .env-grafana e edite conforme necessário
# cp .env-grafana.example .env-grafana

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_USERS_ALLOW_SIGN_UP=false
